<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'All posts', root_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= @post.post_category.name %>
  </li>
</ol>

<div class="row justify-content-center mt-4 mb-4">
  <article class="col-12">
    <h1 class="mb-4 mb-lg-5"><%= @post.title %></h1>
    <p><%= @post.body %></p><p></p>
    <div class="d-flex justify-content-between mt-5">
      <div id="post-section">
        <span class="me-2"><%= @post.creator.email %></span>
        <span><%= time_ago_in_words(@post.created_at) %></span>
        <p>
          <%= @post.likes.count %>
          <% if destroy_like?(@post.likes, current_user) %>
            <%= link_to 'Like', post_like_path(@post.id, @post.likes.find_by(user_id: current_user.id).id), method: :delete %>
          <% else %>
            <%= link_to 'Like', post_likes_path(@post), method: :post %>
          <% end %>
        </p>
      </div>
    </div>
  </article>
</div>

<% if current_user %>
  <%= simple_form_for @post.comments.build, url: post_comments_path(@post) do |f| %>
    <%= f.input :content, as: :text %>
    <%= f.button :submit, class: "mt-2 btn-primary" %>
  <% end %>
<% end %>

<%= nested_comments(@post.comments.arrange(:order => :created_at)) %>
